<div data-controller="comment-form">
  <button data-action="click->comment-form#toggle" data-comment-form-target="toggle" class="btn btn-primary">Add Comment</button>
  <div data-comment-form-target="form">
    <%= render 'comment_form' %>
  </div>
</div>

<% @comments.includes(:user, :replies).order(created_at: :desc).each do |comment| %>
  <div class="card mb-1">
    <div class="card-body">
      <h5 class="card-title"><%= comment.user.email %></h5>
      <p class="card-text"><%= comment.body %></p>
      <div data-controller="comment-form">
        <button data-action="click->comment-form#toggle" data-comment-form-target="toggle" class="btn btn-secondary btn-sm">Reply</button>
        <div data-comment-form-target="form">
          <%= render 'comment_form', parent_id: comment.id %>
        </div>
      </div>
    </div>
    <% if comment.replies.any? %>
      <div class="ms-5">
        <% comment.replies.each do |reply| %>
          <div class="mb-0 border-top">
            <div class="card-body">
              <h5 class="card-title"><%= reply.user.email %></h5>
              <p class="card-text"><%= reply.body %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
