<% content_for :title do %>
  <%= @dream.title %>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= @dream.title %></h1>
    <% if @dream.image.attached? %>
      <%= image_tag @dream.image, style: "max-width: 300px", alt: 'Dream image' %>
    <% end %>
    <% @dream.tags.each do |tag| %>
      <span class="badge bg-info text-light me-2"><%= tag.name %></span>
    <% end %>
    <p class="card-text"><%= @dream.description %></p>
    <%= link_to 'Edit', edit_dream_path(@dream), class: 'btn btn-secondary' %>
  </div>
</div>

<%= render template: 'comments/index', comments: @comments %>
