<% content_for :title do %>
  <%= @dream.title %>
<% end %>

<div class="card border-0 shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <% if @dream.image.attached? %>
          <%= image_tag @dream.image, class: "img-fluid rounded", alt: 'Dream image' %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="bg-dark p-3 mb-4">
          <%= image_tag @dream.user.avatar, class: 'rounded-circle', style: 'width: 50px' %>
          <div class="d-inline-block">
            <h4 class="mb-0"><%= @dream.user.name %></h4>
            <p class="m-0 text-muted"><%= l @dream.created_at, format: :long %></p>
          </div>
        </div>
        <h1 class="card-title h4 mb-4"><%= @dream.title %></h1>
        <% @dream.tags.each do |tag| %>
          <span class="badge bg-info text-light me-2"><%= tag.name %></span>
        <% end %>
        <p class="card-text"><%= @dream.description %></p>
        <%= link_to 'Edit', edit_dream_path(@dream), class: 'btn btn-secondary me-2' if can? :update, Dream, user: current_user %>
        <%= link_to (octicon "download", height: 30), dream_path(@dream, format: :csv) %>
      </div>
    </div>
  </div>
</div>

<%= render template: 'comments/index', comments: @comments %>
