<% content_for :title do %>
  <%= @dream.title %>
<% end %>
<h1> <%= @dream.title %> </h1>

<% @dream.tags.each do |tag| %>
  <span class="badge text-bg-info"><%= tag.name %></span>
<% end %>

<%= image_tag @dream.image, class: 'img-fluid', width: '300px' if @dream.image.attached? %>
<p> <%= @dream.description %> </p>
<%= link_to 'Edit', edit_dream_path(@dream), class: 'btn btn-secondary' %>

<%= render 'comment_form' %>

<% @comments.includes(:user, :subcomments).find_each do |comment| %>
  <div class="card mb-1">
    <div class="card-body">
      <h5 class="card-title"><%= comment.user.email %></h5>
      <p class="card-text"><%= comment.body %></p>
    </div>
    <% if comment.subcomments.any? %>
      <div class="ms-5">
        <% comment.subcomments.each do |subcomment| %>
          <div class="mb-0 border-top">
            <div class="card-body">
              <h5 class="card-title"><%= subcomment.user.email %></h5>
              <p class="card-text"><%= subcomment.body %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
