<div class='mt-3'>
  <div class="card mb-1">
    <div class="card-body position-relative">
      <div class="row align-items-center mb-2">
        <div class="col-auto">
          <%= image_tag comment.user.avatar, class: 'rounded-circle me-3', style: 'width: 50px' %>
        </div>
        <div class="col">
          <h5 class="card-title mb-0"><%= comment.user.name %></h5>
        </div>
      </div>
      <%= turbo_frame_tag "comment_#{comment.id}" do %>
        <p class="card-text"><%= comment.body %></p>
        <%= link_to "Reply",
                  new_dream_comment_path(@dream, parent_id: comment.id),
                  class: "btn btn-secondary btn-sm",
                  data: { turbo_frame: "new_comment#{comment.id}" } if can? :reply, Comment %>
        <%= link_to "Edit",
                    edit_dream_comment_path(@dream, comment),
                    class: "btn btn-warning btn-sm" if can? :update, comment %>
      <% end %>
      <%= link_to 'Delete', dream_comment_path(@dream, comment), class: "btn btn-danger btn-sm",
                                                                 data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} if can? :destroy, comment %>
      <small class="text-muted position-absolute bottom-0 end-0 mb-2 me-2"><%= time_ago_in_words(comment.created_at) %> ago</small>
      <%= turbo_frame_tag "new_comment#{comment.id}" %>
    </div>
    <%= turbo_frame_tag "reply-#{comment.id}" do %>
      <%= render partial: 'comments/reply', collection: comment.replies if comment.replies.any? %>
    <% end %>
  </div>
</div>
