<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= simple_form_for current_user, html: { multipart: true } do |f| %>
      <h1>Edit Profile</h1>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :avatar, as: :file, input_html: { accept: User::AVATAR } %>
      <%= f.button :submit, class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
