<div class="app-header">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <%= link_to 'Dream Diary', root_path, class: 'navbar-brand' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"> <%= current_user&.email %> </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to "My Profile", user_path(current_user), class: "nav-link" %>
                <%= link_to 'Log out', destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %>
                <%= link_to "New Dream", new_dream_path, class: "nav-link active btn btn-secondary", "aria-current": "page" %>
              <% else %>
                <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
                <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if can? :manage, :all %>
                <a class="nav-link" href="/avo">Avo</a>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Language
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% if I18n.locale == :ru %>
                  <li><%= link_to "English", url_for(locale: :en), class: "dropdown-item" %></li>
                <% else %>
                  <li><%= link_to "Русский", url_for(locale: :ru), class: "dropdown-item" %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <svg width="80" height="80" viewBox="0 0 250 250" aria-hidden="true"></svg>
</div> 
