<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'gif' %>
    <title> 
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        DreamDiary
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= content_tag :body do %>
    <%= render 'header' %>
    <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <div class="row">
        <%= render 'moon_phase' %>
          <div class="col-md-9">
            <div class="bg-light p-3 mb-2 text-dark">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</html>
