<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'gif' %>
    <title> 
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        DreamDiary
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= content_tag :body do %>
    <%= render 'header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
      <div class='container p-5 bg-light'>
        <%= yield %>
      </div>
    </div>
  <% end %>
</html>
